<div class="flip-container" [ngClass]="{'flip': flipped}"
[ngStyle]="{'width': width + 48 + 'px'}">
	<div class="flipper">
		<div class="front">
      <md-card style="min-height: 160px; max-width: 544px;"
      [ngStyle]="{'width': width + 'px'}">
        <md-card-header>
          <md-card-title>
          {{title}}
          </md-card-title>
          <button (click)="flipped = !flipped" style="align-self: flex-start;">
          flip
          </button>
          <md-card-subtitle>
            an empty shell desperately needing content
          </md-card-subtitle>
        </md-card-header>
        <md-card-content>
          the void
        </md-card-content>
      </md-card>
    </div>
    <div class="back">
      <md-card style="min-height: 160px; max-width: 544px;"
      [ngStyle]="{'width': width + 'px'}">
        <md-card-header>
          <div style="flex-grow: 4"> </div>
          <button (click)="flip()" style="align-self: flex-start;">
            flip
          </button>
        </md-card-header>
        <md-card-content>
          the void behind
        </md-card-content>
      </md-card>
		</div>
	</div>
</div>
